// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.menu-editor {
  li.list-item {
    margin-left: 40px;
  }

  li.list-nested-item input[type="checkbox"] {
    margin-left: -1px;
    margin-right: 0.5em;
  }

  span.command {
    margin-left: 1em;
  }
}
